<div class="container">
		<!-- -->
      <!-- Main component for a primary marketing message or call to action -->
	  <!--<div class="ui-widget-logoDot">
		<div></div>
	  </div>-->
      <div class="ui-widget-loginbox">
        <h1>Welcome</h1>
		<h2>to</h2><br />
		<h3><br/>Backbone.js Project</h3>
	  </div>
	 <!-- <div class="ui-widget-logoDot-right">
		<div></div>
	  </div>-->
	  <div class="ui-widget-login-form">
	  <div class="alert alert-error" align="right" style="display:none; color:red; margin-bottom:-25px; margin-top:-25px;"></div>
		<div class="row"  style="float:right;">
			<div class="col-md-12" align="right">
				<i class="fa fa-user fa-lg" style="color:#666;">&nbsp;</i><label for="user_name">User Name</label>
				<input class="ui-widget ui-widget-input-border" type="text" placeholder="User Name" size="30" id="user_name" style="border:1px solid #0D3C75;"/>
			</div>
			<div class="col-md-12" align="right">
				<i class="fa fa-unlock-alt fa-lg" style="color:#666;">&nbsp;</i><label for="user_password">Password</label>
				<input class="ui-widget ui-widget-input-border" type="password" placeholder="Password" size="30" id="user_password"/>
			</div>
			<div class="col-md-12" align="right">
				<div class="col-md-12">
				<!--<button id="button" class="ui-widget ui-state-default ui-corner-all" style="padding:5px;">-->
				<a href="#home" class="ui-widget ui-state-default ui-corner-all" style="margin-right:-15px; padding:10px; height:20px; line-height:20px; border:none;"><i class="fa fa-sign-in fa-lg" style="color:#FFF;"></i>&nbsp;&nbsp;Login</a>
				<!--</button>-->
			</div>
			</div>
		</div>
	  </div>

    </div>