<!--<!DOCTYPE html>
<meta charset="utf-8">-->
<div class="row" style="margin-bottom:3px; background-color:transparent;">
<div class="col-md-10">
	<div class="col-md-4" style="margin-left:5px;">
		<label for="date_field" style="margin-left:-17px;">Select Date</label>
		<input type="datetime" id="booking_date_field" size="15" class="ui-widget-input-border" style="height:20px;"/>
	</div>
</div>
</div>
<div class="row" style="background-color:transparent;">
	<div class="col-md-3"><span class="dashboard roundedTblCorner">Transition Count By Hour</span></div>
	<div class="col-md-4" style="margin-top:8px;">
		<label for="count_selection">View
		<select id="count_selection" class="ui-widget-input-border">
			<option value="-1" selected>All</option>
			<option value="4">Past 4</option>
			<option value="8">Past 8</option>
			<option value="12">Past 12</option>
			<option value="16">Past 16</option>
			<option value="24">Past 24</option>
		</select> Hours</label>
	</div>
</div>
<div class="row" style="margin-bottom:2px;">
	<div class="col-md-12 countbyhr">
		<div class="col-md-12" id="chart1">
			<svg></svg>
		</div>
	</div>
</div>