<!--<!DOCTYPE html>
<meta charset="utf-8">-->
<div class="row" style="margin-bottom:3px; background-color:transparent;">
<div class="col-md-10">
	<div class="col-md-4" style="margin-left:5px;">
		<label for="date_field" style="margin-left:-17px;">Select Date</label>
		<input type="datetime" id="ops_date_field" size="15" class="ui-widget-input-border" style="height:20px;"/>
		<input type="hidden" id="ops_dom_date_field" size="15" class="ui-widget-input-border" style="height:20px;"/>
	</div>
</div>
</div>
<div class="row" style="background-color:transparent;">
	<div class="col-md-3"><span class="dashboard roundedTblCorner">Transition Count By Hour</span></div>
	<div class="col-md-4" style="margin-top:8px;">
		<label for="count_selection">View
		<select id="count_selection" class="ui-widget-input-border">
			<option value="-1" selected>All</option>
			<option value="4">Past 4</option>
			<option value="8">Past 8</option>
			<option value="12">Past 12</option>
			<option value="16">Past 16</option>
			<option value="24">Past 24</option>
		</select> Hours</label>
	</div>
</div>
<div class="row" style="margin-bottom:2px;">
	<div class="col-md-12 countbyhr">
		<div class="col-md-12" id="chart1">
			<svg></svg>
		</div>
	</div>
</div>
<!--
<div class="row">
	<div class="col-md-3"><span class="dashboard roundedTblCorner">Job Status By Hour</span></div>
	<div class="col-md-4" style="margin-top:8px;">
		<label for="status_selection">View
		<select id="status_selection" class="ui-widget-input-border">
			<option value="-1" selected>All</option>
			<option value="4">Last 4</option>
			<option value="8">Last 8</option>
			<option value="12">Last 12</option>
			<option value="16">Last 16</option>
			<option value="24">Last 24</option>
		</select> Hours</label>
	</div>
</div>
<div class="row">
	<div class="col-md-12 statbyhr">
		<div class="col-md-12" id="chart2">
		<svg></svg>
		</div>
	</div>
</div><div class="row">
	<div class="col-md-3"><span class="dashboard roundedTblCorner">Job Status Count By Date</span></div>
</div>
<div class="row" id="job_stat_count">
	<div class="col-md-10 jobstatcount">
		<table class="datatable" id="jobCount_date" width="" border="0" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th rowspan="2">Job Type</th>
					<th colspan="3" align="center" class="jobcountTblth2" id="currentJobStat"></th>
					<th colspan="3" align="center" class="jobcountTblth3">Last 7 Days from <span id="lastWeek"></span></th>
					<th colspan="3" align="center" class="jobcountTblth4">Last 30 Days from <span id="lastMonth"></span></th>
				</tr>
				<tr  id="count_divition">
					<th style="background-color:#109c10;">Success</th>
					<th style="background-color:#c71c1f;">Failure</th>
					<th style="background-color:#EBA015;">Partial</th>
					<th style="background-color:#109c10;">Success</th>
					<th style="background-color:#c71c1f">Failure</th>
					<th style="background-color:#EBA015;">Partial</th>
					<th style="background-color:#109c10;">Success</th>
					<th style="background-color:#c71c1f">Failure</th>
					<th style="background-color:#EBA015;">Partial</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
 <div class="row">
	<div class="col-md-3"><span class="dashboard roundedTblCorner">Job Size By Date</span></div><span>**Size in Bytes</span>
	<div class="col-md-12 treemap">
		<div class="col-md-12" id="chart">
			
		</div>
	</div>
 </div>-->